{% extends "base.html" %}
{% block title %}
    <title>Kонтакты</title>
{% endblock %}

{% block content %}


    <!-- Navbar Start -->
    {% include 'includes/navbar.html' %}
    <!-- Navbar End -->

    <!-- Contact Start -->
    <div class="container-fluid pt-5">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">Как нас найти</span></h2>
        </div>
        <div class="row px-xl-5">
            <div class="col-lg-7 mb-5">
                <!--сюда карту-->
                <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A14d67411a30b014e3c3b39defad0a49b3b6d23022d55247074c801241278fca8&amp;width=800&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
            </div>
            <div class="col-lg-5 mb-5">
                <h5 class="font-weight-semi-bold mb-3">ТЦ Гамаюн</h5>
                <p>В нашем магазине вы можете приобрести профессиональную продукцию для мастеров ногтевого сервиса, парикмахеров, мастеров наращивания ресниц, а так же для ухода за волосами и телом.<br/>
                    "Эталон моды" предлагает широкий выбор одноразовых расходных материалов для салонов красоты и парикмахерских.</p>
                <div class="d-flex flex-column mb-3">
                    <h5 class="font-weight-semi-bold mb-3">Ждём вас поадресу:</h5>
                    <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>г. Смоленск, пр-т Гагарина, 10/2</p>
                    <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>etalon-mod@mail.ru</p>
                    <p class="mb-2"><i class="fa fa-phone-alt text-primary mr-3"></i>8 (951) 706-96-65</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->
{% endblock %}