{% extends "base.html" %}

{% block title %}
    <title>Новый пароль</title>
{% endblock %}

{% block content %}
{% if validlink %}

<div class="container py-5"> 
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card">
        <div class="card-header">
          Введите новый пароль
        </div>
        <div class="card-body">
          {% include 'includes/form_errors.html' %}

          <form method="post" 
          {% if action_url %}
            action="{% url action_url %}"
          {% endif %}
          >
          {% csrf_token %}

          {% include 'includes/field_form.html' %}

              <button type="submit" class="btn btn-outline-danger">
                Назначить новый пароль
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% else %}

  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card">
        <div class="card-header">
          Ошибка
        </div>
        <div class="card-body">
          <p>Ссылка сброса пароля содержит ошибку или устарела.</p>
        </div> 
      </div> 
    </div> 
  </div> 
</div>
{% endif %}

{% endblock %}