{% extends 'base.html' %}

{% load static %}
{% load mptt_tags %}
{% load thumbnail %}

{% block title %}
    <title>{{ product.title }}</title>
{% endblock %}

{% block content %}
    
    <!-- Navbar Start -->
    {% include 'includes/navbar.html' %}
    <!-- Navbar End -->

    <!-- Page Header Start -->
    {% include 'includes/page_header.html' %}
    <!-- Page Header End -->
    
    <!-- Shop Detail Start -->
    <div class="container-fluid py-5">
        <div class="row px-xl-5">
            <div class="col-lg-5 pb-5">
                <div id="product-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner border">
                        {% thumbnail product.image "400x400" crop="center" as im %}
                        <div class="carousel-item active">
                            <img class="w-100 h-100" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ im.title }}">
                        </div>
                        {% endthumbnail %}
                    </div>
                    <a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
                        <i class="fa fa-2x fa-angle-left text-dark"></i>
                    </a>
                    <a class="carousel-control-next" href="#product-carousel" data-slide="next">
                        <i class="fa fa-2x fa-angle-right text-dark"></i>
                    </a>
                </div>
            </div>

            <div class="col-lg-7 pb-5">
                <h3 class="font-weight-semi-bold">{{ product.title }}</h3>
{#                <div class="d-flex mb-3">#}
{#                    <div class="text-primary mr-2">#}
{#                        <small class="fas fa-star"></small>#}
{#                        <small class="fas fa-star"></small>#}
{#                        <small class="fas fa-star"></small>#}
{#                        <small class="fas fa-star-half-alt"></small>#}
{#                        <small class="far fa-star"></small>#}
{#                    </div>#}
{#                    <small class="pt-1">(50 Reviews)</small>#}
{#                </div>#}
                <h3 class="font-weight-semi-bold mb-4">{{ product.price }}₽</h3>
                <p class="mb-4">{{ product.description }}</p>
                <div class="d-flex mb-3">
                    <p class="text-dark font-weight-medium mb-0 mr-3">Артикул: {{ product.article }}</p>
                </div>
                <div class="d-flex mb-4">
                    <p class="text-dark font-weight-medium mb-0 mr-3">Цает: {{ product.color }}</p>
                </div>
                <div class="d-flex mb-4">
                    <p class="text-dark font-weight-medium mb-0 mr-3">Объём: {{ product.volume }}</p>
                </div>
                <div class="d-flex align-items-center mb-4 pt-2">
                    <div class="input-group quantity mr-3" style="width: 130px;">
                        <div class="input-group-btn">
                            <button class="btn btn-primary btn-minus" >
                            <i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <input type="text" class="form-control bg-secondary text-center" value="1">
                        <div class="input-group-btn">
                            <button class="btn btn-primary btn-plus">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <button class="btn btn-primary px-3"><i class="fa fa-shopping-cart mr-1"></i>В корзину</button>
                </div>
                <div class="d-flex pt-2">
                    <p class="text-dark font-weight-medium mb-0 mr-2">Поделиться:</p>
                    <div class="d-inline-flex">
                        <a class="text-dark px-2" href="">
                            <i class="fab fa-telegram"></i>
                        </a>
                        <a class="text-dark px-2" href="">
                            <i class="fab fa-whatsapp"></i>
                        </a>
                        <a class="text-dark px-2" href="">
                            <i class="fab fa-vk"></i>
                        </a>
                        <a class="text-dark px-2" href="">
                            <i class="fab fa fa-link"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row px-xl-5">
            <div class="col">
                <div class="nav nav-tabs justify-content-center border-secondary mb-4">
                    <a class="nav-item nav-link active" data-toggle="tab" href="#tab-pane-1">Описание</a>
                    <a class="nav-item nav-link" data-toggle="tab" href="#tab-pane-2">Состав</a>
                    <a class="nav-item nav-link" data-toggle="tab" href="#tab-pane-3">Использование</a>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="tab-pane-1">
                        <h4 class="mb-3">{{ product.title }}</h4>
                        <p> {{ product.description }} </p>
                    </div>
                    <div class="tab-pane fade" id="tab-pane-2">
                        <h4 class="mb-3">{{ product.title }}</h4>
                        <p> {{ product.composition }}</p>
                        
                    </div>
                    <div class="tab-pane fade" id="tab-pane-3">
                        <h4 class="mb-3">{{ product.title }}</h4>
                        <p> {{ product.usage }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Shop Detail End -->


    <!-- Products Start -->
    <div class="container-fluid py-5">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">Похожие товары</span></h2>
        </div>
        <div class="row px-xl-5">
            <div class="col">
                <div class="owl-carousel related-carousel">
                    <div class="card product-item border-0">
                        {% for product in product_list %}
                        <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                            <img class="img-fluid w-100" src="img/product-1.jpg" alt="">
                        </div>
                        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                            <h6 class="text-truncate mb-3">Colorful Stylish Shirt</h6>
                            <div class="d-flex justify-content-center">
                                <h6>$123.00</h6><h6 class="text-muted ml-2"><del>$123.00</del></h6>
                            </div>
                        </div>
                        <div class="card-footer d-flex justify-content-between bg-light border">
                            <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                            <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Products End -->
{% endblock %}